<style class="fox_global_style">
    div.fox_html_content { line-height: 1.5; }
    div.fox_html_content { 
        font-size: 10.5pt; 
        font-family: 微软雅黑; 
        color: rgb(0, 0, 0); 
        line-height: 1.5; 
    }
</style> 
<div style="text-align: center;">
    <b><span></span>{{subject}}</b>
</div>
<div style="text-align: left;">
    <br>
</div>
<div style="text-align: left;"></div>
<div style="text-align: left;">
    <span style="background-color: rgba(0, 0, 0, 0);">
        <p>&nbsp; &nbsp; 您使用该邮箱在数据中心云主机平台注册了账户，请点击如下链接激活账户并设置初始密码，如非本人操作请忽略此邮件。</p>
        <a href="http://{{domain}}/interclient/confirm/?uuid={{uuid}}">http://{{domain}}/interclient/confirm/?uuid={{uuid}}</a>
    </span>
</div>
<div style="text-align: left;">
<span style="background-color: rgba(0, 0, 0, 0);"><br></span>
</div> 
