<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HelpDesk</title>
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div style="padding:100px"
    <p align="center">
     <button type="button" class="btn btn-primary btn-lg" onclick="javascript:window.location.href=/interclient/">数据中心云主机平台</button> 
     <button type="button" class="btn btn-primary btn-lg" onclick="javascript:window.location.href=/vmadmin/">数据中心云主机管理系统</button> 
    </p>
    </div>
  </body>
</html>
